body{
    margin: 0;
    padding: 0;
}


header {
   position: absolute;
  background-color: #ef5c5c;
  width: 100%;
  height: 144px;
}
 header nav {
    position: absolute;
    left: 770px;
    top: 30px;
}
header nav ul{
    top:30px;
    display: inline-flex;
  
} 
header nav ul li{
    
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    padding: 14px 16px;
    font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 39px;
text-align: right;

color: #000000;
}
#home{
    color: #EA5C5C;
    /* font-size: 50px; */
mix-blend-mode: color-burn;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header nav ul li a:hover{
    background-color: white;
}
#logo-t {
   
    position: absolute;
  font-family: "Rozha One", serif;
  color: #ffff;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  
  left: 62px;
  top: -22px;
  
}


#img-title{
    position: relative;
    
width: 100%;
height: 234px;
left: 0px;
top: 125px;
}

#sub{
    position: absolute;
width: 551px;
height: 64px;
left: 1058px;
top: 135px;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 69px;
text-align: center;

color: #FFF4F4;
}

.contact{
    position: absolute;
width: 289px;
height: 54px;
left: 1176px;
top: 262px;

background: #F9B44E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;
}

h3{
    text-align: center;
}

.sub{
    position: relative;
    width: 100%;
    height: 86px;
   top:70px;

}

h4{
    font-size: 64px;
line-height: 72px;
text-align: center;

color: #000000;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container{
    margin-top: 90px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 80px;
    
}

.columna{
    border: 1px solid black;
    padding: 15px 15px;
   
   
}

#image-columna{
    width: 271px;
    height: 182px;

    margin-left: 90px;
    margin-right: 50px;
}

#titulo-p1{
    text-align: center;
}


.footer-container{
    
    background-color: black;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    width: 100%;
    height: 250px;
}

#logo{
    margin-left: 62px;
    font-family: "Rozha One", serif;
       font-style: normal;
    font-weight: normal;
    font-size: 64px;
}

#contact{
    margin-top: 40px;
    font-size: 20px;
}
#logo, #contact{
    color: #FFF4F4;
}

#img-footer{
    height: 62px;
    width: 63px;
}

.col-der{
    margin-top: 40px;
    margin-left: 90px;
}

.mail{
    background-color: #FFF4F4;
    width: 330px;
    height: 31px;
    border-radius: 7px;
    margin-bottom:14px;
}
@media (max-width: 800px) {
    nav{

    }
  }